/*
*  __  __                                ___       __                                                  
* /\ \/\ \  __                          /\_ \     /\ \                                                 
* \ \ \ \ \/\_\    ____  __  __     __  \//\ \    \ \ \         __      ___   __  __    ___     ___    
*  \ \ \ \ \/\ \  /',__\/\ \/\ \  /'__`\  \ \ \    \ \ \  __  /'__`\  /' _ `\/\ \/\ \  / __`\ /' _ `\  
*   \ \ \_/ \ \ \/\__, `\ \ \_\ \/\ \L\.\_ \_\ \_   \ \ \L\ \/\ \L\.\_/\ \/\ \ \ \_\ \/\ \L\ \/\ \/\ \ 
*    \ `\___/\ \_\/\____/\ \____/\ \__/.\_\/\____\   \ \____/\ \__/.\_\ \_\ \_\/`____ \ \____/\ \_\ \_\
*     `\/__/  \/_/\/___/  \/___/  \/__/\/_/\/____/    \/___/  \/__/\/_/\/_/\/_/`/___/> \/___/  \/_/\/_/
*                                                                                 /\___/               
*                                                                                 \/__/                
*                                                                                                     
* Written by @ZaMan8 and distrobuted under the MIT license.
* Learn more at https://github.com/Zaman8/visual-lanyon 
*
*
* Contents:
* 
* Masthead Buttons
* Social Media Links
* Author About Section
* Preview Cards
*/
/*
* Masthead Buttons
*
* Style rss and light-theme buttons on masthead
*/
.icon {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#theme-switcher {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
#theme-switcher .icon {
  -webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="8" cy="8" r="7.25" stroke="%235B5B66" stroke-width="1.5"/><mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="7.25" fill="%235B5B66" stroke="%235B5B66" stroke-width="1.5"/></mask><g mask="url(%23a)"><path fill="%235B5B66" d="M0 0h8v16H0z"/></g></svg>');
  mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="8" cy="8" r="7.25" stroke="%235B5B66" stroke-width="1.5"/><mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="7.25" fill="%235B5B66" stroke="%235B5B66" stroke-width="1.5"/></mask><g mask="url(%23a)"><path fill="%235B5B66" d="M0 0h8v16H0z"/></g></svg>');
  mask-repeat: no-repeat;
}

#rss-feed {
  position: absolute;
  top: 1.1rem;
  right: 3rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
#rss-feed .icon {
  -webkit-mask-image: url("/assets/site/rss-solid.svg");
  mask-image: url("/assets/site//rss-solid.svg");
  mask-repeat: no-repeat;
}

button {
  background: none;
  border: none;
  margin: 0rem;
  padding: 0;
}

/*
* Social Media Links
*
* Create display of user's social media links
*/
.about {
  position: relative;
  top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
#social-media-icons img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
}

/*
* Auther About Section
*
* Display short bio of author in sidebar
*/
#author-about {
  margin: 1rem;
}
#author-about img {
  height: 6rem;
  width: 6rem;
  border-width: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
}

/*
* Preview Cards
*
* Creates base reusable styling for cards and defines styles to create new card layouts
* different cards only differ in width, height, and font size.
* Some cards use different non-overlayed image locations, so those stylings are define individually later.
*/
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.card .post-content {
  font-size: smaller;
}
.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}
.card > a:first-of-type > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

div.overlayed {
  text-shadow: 0.05rem 0rem 0.25rem black;
  color: #f0f0f0;
  display: block;
  background-position: center;
}
div.overlayed .post-title > a, div.overlayed h1, div.overlayed h2, div.overlayed h3, div.overlayed h4, div.overlayed h5, div.overlayed h6 {
  color: #f1f1f1;
}
div.overlayed .post-date {
  color: #dddcdc;
}
div.overlayed > .preview-image {
  filter: brightness(75%);
  margin: -0.5rem;
  margin-bottom: -1rem;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 51%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.overlayed > .post-content {
  position: relative;
  z-index: 1;
}

/*
* Specific Card Layouts
* apply individual stylings to create the different sized cards in this theme
* since small and large cards center their text when overlayed another (card).overlay styling is here
*/
.wide_card, .double_card {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.wide_card:not(.overlayed) > img.preview-image, .double_card:not(.overlayed) > img.preview-image {
  margin: -0.5rem;
  margin-left: 0.5rem;
  margin-bottom: -1rem;
  height: calc(100% + 1.5rem);
  width: auto;
  max-width: 50%;
  border-radius: 0rem;
}

.square_card, .tall_card, .large_card {
  display: flex;
  flex-direction: column;
}
.square_card:not(.overlayed) > img.preview-image, .tall_card:not(.overlayed) > img.preview-image, .large_card:not(.overlayed) > img.preview-image {
  margin: -0.5rem;
  margin-bottom: 0.5rem;
  min-width: 100%;
  max-height: 40%;
  border-radius: 0rem;
}

.large_card.overlayed, .small_card.overlayed {
  height: 90rem;
  text-align: center;
}
.large_card.overlayed > .post-content, .small_card.overlayed > .post-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*
* Start defining individual card layouts
* Uses class .overlayed to style content differently when necassary
*/
.small_card {
  width: calc(25% - 1rem);
  max-height: 10rem;
}
.small_card > h1 {
  font-size: 1.5rem;
}
.double_card {
  width: calc(50% - 1rem);
  max-height: 10rem;
}
.double_card > h1 {
  font-size: 2rem;
}

.wide_card {
  width: calc(100% - 1rem);
  max-height: 10rem;
}
.wide_card > h1 {
  font-size: 2rem;
}

.large_card {
  width: calc(100% - 1rem);
  max-height: 30rem;
}
.large_card > h1 {
  font-size: 2.5rem;
}
.large_card.overlayed {
  font-size: larger;
}

.tall_card {
  width: calc(25% - 1rem);
  max-height: 20rem;
  height: 20rem;
}
.tall_card > h1 {
  font-size: 1.5rem;
}

.square_card {
  width: calc(50% - 1rem);
  max-height: 20rem;
  height: 20rem;
}
.square_card > h1 {
  font-size: 1.5rem;
}

/*# sourceMappingURL=visual-lanyon.css.map */