/*
 * Themes
 *
 * Apply custom color schemes by changing the sidebar background and highlight colors declared here.
 * A secondary color theme is also declared here for the purpose of a dark mode for the website.
 */

 /*Light Mode*/
$background-color: #FFFFFF;
$sidebar-color: #4b4b4b;
$card-color: #fdfefe;
$title-color: #303030;
$alt-title-color: #9a9a9a;
$link-color: #268bd2;

/*Dark Mode*/
$dark-background-color: #1c2833;
$dark-sidebar-color: #bd6fe4;
$dark-card-color: #2d3f4f;
$dark-title-color: #f7f7f7;
$dark-link-color: #268bd2;


//Sidebar Color
.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: rgba(255,255,255,.6);
  background-color: $sidebar-color;
}

.sidebar a {
  color: #fff;
}

//Highlight link Color
a,
.related-posts li a:hover {
  color: $link-color;
}

//Post Title Colors
.post-title, .page-title
.post-title > a, .masthead-title, .masthead-title > a, h1, h2, h3, h4, h5, h6 {
  color: $title-color
}

.masthead-title > small, .post-date, .related-posts li small {
  color: $alt-title-color;
}

//Card Colors
.card {
  background-color: $card-color;
}

//Site Background Color
.body {
  background-color: $background-color;
}