.theme-switcher {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    height: 32px;
    width: 32px;

    .icon {
        -webkit-mask-image: url(/public/theme-os-default.b14255eadab403fa2e8a.svg);
        mask-image: url(/public/theme-os-default.b14255eadab403fa2e8a.svg);
        mask-repeat: no-repeat;
    }
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    align-self: center;
}

.button {
    background: transparent;
    border-radius: 0.5rem;
    border-width: 0rem;
    margin: 0rem;
}




.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    margin-bottom: 1rem;


    &:hover {
        transition: all .2s ease-in-out; 
        transform: scale(1.02); 
    }
}

.small_card {
    //@include window_scaling(50);
    width: 50%;

    h1 {
        font-size: 1.5rem;
    }

    max-height: 25rem;
    @media (min-width: 38em) {
        max-height: 20rem;
    }
    @media (min-width: 56em) {
        max-height: 14rem;
    }

}

.wide_card{
    //@include window_scaling(100);
    width: 100%;
    h1 {
        font-size: 2.5rem;
    }
}

.large_card {
    //@include window_scaling(100);
    width: 100%;
    h1 {
        font-size: 2.5rem;
    }
}

.tall_card {
    //@include window_scaling(50);
    width: 50%;
    h1 {
        font-size: 1.5rem;
    }
}

