  <div class="card {{ post.preview }}">
      <h1 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {% case post.preview %}
        {% when "small_card" %}
          {% assign num_words = 30 %}
        {% when "wide_card" %}
          {% assign num_words = 60 %}
        {% when "large_card" %}
          {% assign num_words = 180 %}
        {% when "tall_card" %}
          {% assign num_words = 90 %}
        {% else %}
          {% assign num_words = 30 %}
      {% endcase %}
      
      {{ post.content | truncatewords: num_words }}
  </div>